.env
.vscode
__pycache__


code/data/mp-raw

# DATA RAW FILES
code/data/pretrain/cif
!code/data/pretrain/cif-pre.zip
code/data/pretrain/mp-subset
code/data/pretrain/rejects.csv

code/data/abs/cif
!code/data/abs/cif-abs.zip
code/data/abs/mp-abs

code/data/plqy/cif
code/data/plqy/cif-plqy
!code/data/plqy/cif-plqy.zip
code/data/plqy/mp-plqy

code/data/plqy-full/cif
code/data/plqy-full/cif-raw
code/data/plqy-full/cod-plqy

# DATA ANALYSIS FILES

code/data/pretrain/bounds.json
code/data/pretrain/bid_true.txt
code/data/pretrain/stats
code/data/pretrain/struct-issues
code/data/pretrain/unordered.txt

code/data/abs/bounds.json
code/data/abs/bid_true.txt
code/data/abs/stats
code/data/abs/struct-issues
code/data/abs/unordered.txt

code/data/plqy/bounds.json
code/data/plqy/bid_true.txt
code/data/plqy/stats
code/data/plqy/struct-issues
code/data/plqy/unordered.txt

code/data/plqy-full/bounds.json
code/data/plqy-full/bid_true.txt
code/data/plqy-full/stats
code/data/plqy-full/struct-issues
code/data/plqy-full/unordered.txt

# DATA PRODUCT FILES

code/data/pretrain/structs
code/data/pretrain/diagrams*
code/data/pretrain/images*
code/data/pretrain/landscapes*
code/data/pretrain/image_bounds*.pkl

code/data/abs/structs
code/data/abs/diagrams*
code/data/abs/images*
code/data/abs/landscapes*
code/data/abs/image_bounds*.pkl

code/data/plqy/structs
code/data/plqy/diagrams*
code/data/plqy/images*
code/data/plqy/landscapes*
code/data/plqy/image_bounds*.pkl

code/data/plqy-full/structs
code/data/plqy-full/diagrams*
code/data/plqy-full/images*
code/data/plqy-full/landscapes*
code/data/plqy-full/image_bounds*.pkl

code/error.log
logs

code/ignore*

code/cgcnn/data/abs*
code/cgcnn/data/pretrain*
code/cgcnn/data/plqy*
code/cgcnn/checkpoints
code/cgcnn/out*