.env
.vscode
__pycache__


code/data/mp-raw

code/data/pretrain/cif
!code/data/pretrain/cif-pre.zip
code/data/pretrain/mp-subset
code/data/pretrain/rejects.csv

code/data/abs/cif
!code/data/abs/cif-abs.zip
code/data/abs/mp-abs

code/data/pretrain/bounds.json
code/data/pretrain/bid_true.txt
code/data/pretrain/stats.csv
code/data/pretrain/struct-issues
code/data/pretrain/diagrams*
code/data/pretrain/images*
code/data/pretrain/landscapes*
code/data/pretrain/image_bounds.pkl

code/data/abs/bounds.json
code/data/abs/bid_true.txt
code/data/abs/stats.csv
code/data/abs/struct-issues
code/data/abs/diagrams*
code/data/abs/images*
code/data/abs/landscapes*
code/data/abs/image_bounds.pkl

code/error.log
logs

code/ignore*

code/cgcnn/data/graph_data/graphs
code/cgcnn/data/graph_data/tasks
code/cgcnn/data/graph_data/vecs
code/cgcnn/data/graph_data/id_prop.csv
code/cgcnn/data/graph_data/id_mask.csv
code/cgcnn/*.pth.tar
code/cgcnn/test_results*.csv
code/cgcnn/test_stats*.csv