.env
.vscode
__pycache__

# DATA FILES (raw & generated)
code/data*

# MISC FILES
code/error.log
code/example*
logs
code/data/prep_files.tar.gz

code/ignore*

code/cgcnn/data/abs*
code/cgcnn/data/pretrain*
code/cgcnn/checkpoints
code/cgcnn/out*
